aside.flash-messages {
  .flash-alert,
  .flash-error,
  .flash-notice,
  .flash-success {
    margin: 0;
    padding: 20px 40px 20px 20px;

    .constrain {
      position: relative;
    }

    a {
      @include underline-always();

      &.closeable {
        position: absolute;
        top: -2px;
        right: 20px;
        @include underline-never();
        @include no-hover-link($white);
        @include bold();
        font-size: 2rem;
        line-height: .6;
      }
    }
  }

  .flash-alert,
  .flash-error {
    background-color: scale-color($blacktop, $lightness: -15%);
    @include text-and-link($warning-color);
  }

  .flash-notice,
  .flash-success {
    background-color: scale-color($blacktop, $lightness: -15%);
    @include text-and-link($success-color);
  }
}
