footer#page-footer {
  background-color: $black;
  padding: 2rem 0;
  text-align: center;

  nav.links {
    .copyright {
      font-size: .75rem;
      color: $medium-gray;
    }
  }
  
  .logo {
    display: block;
    width: 70px;
    margin: 1rem auto 0;

    img {
      display: block;
    }
  }
}
