footer#page-footer {
  background-color: $flash-background;
  padding: 2rem 0;
  text-align: center;

  nav.links {
    width: auto;

    .copyright {
      font-size: .75rem;
      color: $medium-gray;
    }
  }
  
  .logo {
    display: block;
    width: 110px;
    margin: 1rem auto 0;
    padding: 20px;
    border-radius: 55px;
    background-color: $black;

    img {
      display: block;
    }
  }

  @include breakpoint(large) {
    @include clearfix();
    text-align: right;
    margin-right: $masthead-width-large;

    nav.links {
      float: right;
    }

    .logo {
      clear: right;
      float: right;
      margin: 1rem 0 0;
    }
  }

  @include breakpoint(xlarge) {
    margin-right: $masthead-width-xlarge;
  }
}
