nav#masthead {
  @include clearfix();
  background-color: $black;
  padding: .5rem 0;

  header {
    float: left;
    @include clearfix();

    .headlines {
      float: left;

      h1 {
        font-size: 1.9rem;
        color: $white;
        white-space: nowrap;
        @include compact();
        @include light();

        a {
          @include hover-link($white, $white);
          @include underline-never();
        }

        span {
          @include bold();
        }
      }

      h2 {
        font-size: .8rem;
        line-height: $readable;
        margin-top: -.5rem;
        color: $tagline-color;
        line-height: $readable;

        span {
          display: block;
          white-space: nowrap;
        }
      }
    }

    .logo {
      display: block;
      float: left;
      width: 75px;

      img {
        display: block;
      }
    }

    @include breakpoint(medium) {
      .headlines {
        h1 {
          font-size: 2.7rem;
        }

        h2 {
          font-size: 1.2rem;
        }
      }

      .logo {
        width: 105px;
      }
    }

    @include breakpoint(large) {
      float: right;

      .headlines {
        float: right;
        text-align: right;

        h1 {
          font-size: 3.6rem;
        }

        h2 {
          font-size: 1.6rem;
        }
      }

      .logo {
        float: right;
        width: 150px;

        img {
          @include flip-foreground-image();
        }
      }
    }
  }

  .menu {
    float: right;

    @include breakpoint(large) {
      display: none;
    }
  }
}
