/* Brand Colors. */

$armchair-blue-darkest:  #04a1cc;
$armchair-blue-dark:     #11b0e0;
$armchair-blue-medium:   #67d0ef;
$armchair-blue-light:    #9cc9de;
$armchair-blue-lightest: #c0e0ed;

$bright-cerulean:        #10acdb;
$trolley-grey:           #7f8185;
$gun-metal:              #2b2d42;
$grey-blue:              #8d99ae;
$maximum-yellow:         #f8f32b;
$bone:                   #e2dbbe;


$armchair-blacktop:    #131313;
$armchair-smoke:       #92898a;

/* Greyscale. */

$white:       #fff;
$light-grey:  #ddd;
$medium-grey: #999;
$dark-grey:   #333;
$black:       #000;

/* Flash. */

$flash-bg:      scale-color($armchair-blacktop, $lightness: 5%);
$alert-color:   #dd1c1a;
$success-color: #a2d729;

/* Forms. */

$input-bg-color:        #eee;
$input-bg-color-active: #fff;

/* Borders. */

$standard-border-color: $light-grey;
$standard-border:       1px solid $standard-border-color;

/* Masthead. */

$tagline-color: $armchair-smoke;

/* Text. */

$standard-font-color: $dark-grey;

/* Links. */

$link-color:       $armchair-blue-darkest;
$link-color-hover: scale-color($link-color, $lightness: 15%);

/* Buttons: Primary. */

$button-bg-primary:     $armchair-blue-darkest;
$button-border-primary: $button-bg-primary;
$button-text-primary:   $white;

$button-bg-primary-hover:     scale-color($button-bg-primary, $lightness: 15%);
$button-border-primary-hover: $button-border-primary;
$button-text-primary-hover:   $button-text-primary;

/* Buttons: Secondary. */

$button-bg-secondary:     $armchair-blue-medium;
$button-border-secondary: $button-bg-secondary;
$button-text-secondary:   $white;

$button-bg-secondary-hover:     scale-color($button-bg-secondary, $lightness: 15%);
$button-border-secondary-hover: $button-border-secondary;
$button-text-secondary-hover:   $button-text-secondary;

/* Buttons: Tertiary. */

$button-bg-tertiary:     $medium-grey;
$button-border-tertiary: $button-bg-tertiary;
$button-text-tertiary:   $white;

$button-bg-tertiary-hover:     scale-color($button-bg-tertiary, $lightness: 15%);
$button-border-tertiary-hover: $button-border-tertiary;
$button-text-tertiary-hover:   $button-text-tertiary;

/* Buttons: Disabled. */

$button-bg-disabled:     $black;
$button-border-disabled: $black;
$button-text-disabled:   $white;
