/* Brand Colors. */

$armchair-blue-darkest:  #04a1cc;
$armchair-blue-dark:     #11b0e0;
$armchair-blue-medium:   #67d0ef;
$armchair-blue-light:    #9cc9de;
$armchair-blue-lightest: #c0e0ed;

$armchair-blacktop:      #131313;
$armchair-smoke:         #92898a;

$bright-cerulean:        #10acdb;
$trolley-grey:           #7f8185;
$gun-metal:              #2b2d42;
$grey-blue:              #8d99ae;
$maximum-yellow:         #f8f32b;
$bone:                   #e2dbbe;

$success-color:          #a2d729;
$error-color:            #dd1c1a;
$error-bg-color:         scale-color($error-color, $lightness: 70%);
$error-bg-color-focus:   scale-color($error-color, $lightness: 80%);

/* Greyscale. */

$white:        #fff;
$light-grey:   #ddd;
$medium-grey:  #999;
$dark-grey:    #666;
$darkest-grey: #333;
$black:        #000;

/* Text. */

$standard-color: $white;

/* Links. */

$link-color:       $armchair-blue-darkest;
$link-color-hover: scale-color($link-color, $lightness: 15%);

/* Forms. */

$legend-color:          $armchair-blue-lightest;
$label-color:           $standard-color;
$input-bg-color:        scale-color($armchair-blue-lightest, $lightness: 50%);
$input-bg-color-focus:  #fff;
$placeholder-color:     scale-color($darkest-grey, $lightness: 30%);
$focus-outline-color:   transparentize($armchair-blue-lightest, 0.4);

/* Flash. */

$flash-bg: scale-color($armchair-blacktop, $lightness: 5%);

/* Borders. */

$standard-border-color: $gun-metal;
$standard-border:       1px solid $standard-border-color;

/* Masthead. */

$tagline-color: $armchair-smoke;

/* Buttons: Primary. */

$button-bg-primary:     $armchair-blue-darkest;
$button-border-primary: $button-bg-primary;
$button-text-primary:   $white;

$button-bg-primary-hover:     scale-color($button-bg-primary, $lightness: -20%);
$button-border-primary-hover: $button-border-primary;
$button-text-primary-hover:   $button-text-primary;

/* Buttons: Secondary. */

$button-bg-secondary:     $armchair-blue-medium;
$button-border-secondary: $button-bg-secondary;
$button-text-secondary:   $white;

$button-bg-secondary-hover:     scale-color($button-bg-secondary, $lightness: -20%);
$button-border-secondary-hover: $button-border-secondary;
$button-text-secondary-hover:   $button-text-secondary;

/* Buttons: Tertiary. */

$button-bg-tertiary:     $medium-grey;
$button-border-tertiary: $button-bg-tertiary;
$button-text-tertiary:   $white;

$button-bg-tertiary-hover:     scale-color($button-bg-tertiary, $lightness: -20%);
$button-border-tertiary-hover: $button-border-tertiary;
$button-text-tertiary-hover:   $button-text-tertiary;

/* Buttons: Danger. */

$button-bg-danger:     scale-color($error-color, $lightness: -30%);
$button-border-danger: $button-bg-danger;
$button-text-danger:   $white;

$button-bg-danger-hover:     scale-color($button-bg-danger, $lightness: -20%);
$button-border-danger-hover: $button-border-danger;
$button-text-danger-hover:   $button-text-danger;

/* Buttons: Disabled. */

$button-bg-disabled:     transparentize($darkest-grey, 0.6);
$button-border-disabled: $medium-grey;
$button-text-disabled:   $white;
