/* Spacing. */

$spacing-xl:    2rem;
$spacing-l:   1.5rem;
$spacing-m:     1rem;
$spacing-s:   0.5rem;
$spacing-xs: 0.25rem;

/* Standards. */

$standard-border-radius:       4px;
$standard-transition-duration: 300ms;
$standard-transition-function: ease;
$standard-z-index:             0;

/* Font-size. */

$h1-font-size: 2.6rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.2rem;
$h6-font-size: 1rem;

$standard-font-size:             1rem;
$chunk-legend-font-size:       1.2rem;
$legendary-legend-font-size:     1rem;
$label-font-size:                1rem;
$input-font-size:              1.2rem;
$hint-font-size:               0.8rem;
$form-field-error-font-size:   0.8rem;
$button-font-size:               1rem;
$tab-font-size:                0.7rem;

$admin-headline-size:   1.5rem;
$admin-table-font-size: 0.8rem;
$pagination-font-size:  0.8rem;

/* Font-weight. */

$font-weight-light:  200;
$font-weight-normal: 500;
$font-weight-bold:   700;

/* Line-height. */

$compact:   1;
$readable:  1.231;
$spacious:  1.5;
$luxurious: 1.65;

/* Measurements. */

$fixed-masthead-width: 16.65em;

$dt-width: 40%;
$dd-width: 60%;

/* Buttons. */

$button-border-radius: $standard-border-radius;
$button-spacing:       $spacing-s;


/* Breakpoints. */

$breakpoint-x-small:  375px;
$breakpoint-small:    480px;
$breakpoint-medium:   600px;
$breakpoint-large:    768px;
$breakpoint-x-large: 1024px;
