/* Standards. */

$standard-border-radius:       4px;
$standard-spacing:             1rem;
$small-spacing:                $standard-spacing / 2;
$tiny-spacing:                 $standard-spacing / 4;
$standard-transition-duration: 300ms;
$standard-transition-function: ease;
$standard-z-index:             0;

/* Font-size. */

$page-headline-font-size: 2rem;
$standard-font-size: 1rem;

$legend-font-size: 1.2rem;
$label-font-size: 1rem;
$input-font-size: 1.2rem;
$hint-font-size: .8rem;
$form-field-error-font-size: .8rem;
$button-font-size: 1rem;

/* Font-weight. */

$font-weight-light:  200;
$font-weight-normal: 500;
$font-weight-bold:   700;

/* Line-height. */

$compact:   1;
$readable:  1.231;
$spacious:  1.5;
$luxurious: 1.65;

/* Measurements. */

$fixed-masthead-width: 16.65em;

/* Buttons. */

$button-border-radius: $standard-border-radius;
$button-spacing:       .5rem;


/* Breakpoints. */

$breakpoint-x-small: 375px;
$breakpoint-small:   480px;
$breakpoint-medium:  600px;
$breakpoint-large:   768px;
$breakpoint-x-large: 1024px;
