<%
  @headline = @title = "Artists"
%>

<table>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.name, artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>
