html {
  min-height: 101%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $flash-bg;
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: inherit;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $raleway-font-stack;
  color: $white;
}
