html {
  min-height: 101%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;

  @include breakpoint(small) {
    font-size: 18px;
  }

  @include breakpoint(medium) {
    font-size: 20px;
  }

  @include breakpoint(large) {
    font-size: 22px;
  }

  @include breakpoint(x-large) {
    font-size: 24px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg-color;
  min-height: inherit;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $raleway-font-stack;
  color: $standard-text-color;
  line-height: $spacious;
}
