fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  margin-bottom: $tiny-spacing;
  padding: 0;
}

label {
  display: block;
  margin-bottom: $tiny-spacing;
}

#{$all-text-inputs},
textarea {
  @include no-appearance();
  @include form-field();
  @include bottom-margin-only($small-spacing);
  @include horizontal-padding-only($small-spacing);
  @include luxurious();
}

textarea {
  resize: vertical;
}

[type="checkbox"] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: $tiny-spacing;
}

[type="radio"] {
  display: inline;
  margin-right: $tiny-spacing;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"] {
  &:focus {
    outline: none;
  }
}

.input {
  @include bottom-margin-only(1.5rem);
}

.form_inputs {
  @include bottom-margin-only(1.5rem);
}

.hint {
  @include hint-text();
  @include offset-input-sub-element();
}

.error_notification {
  color: $error-color;
  @include bottom-margin-only(1.5rem);
}

.field_with_errors {
  label,
  .error {
    color: $error-color;
  }

  .error {
    @include input-error-text();
    @include offset-input-sub-element();
  }

  #{$all-text-inputs},
  textarea {
    @include form-field-with-error();
  }
}
