ul,
ol,
dl {
  margin: 0;
  padding: 0;
  @include bottom-margin();
}

li,
dt,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  list-style-image: none;
}

ul {
  &.bulleted {
    @include bulleted-list();
  }

  &.square {
    @include bulleted-list($list-style-type: square);
  }

  &.piped {
    @include piped-list();
  }

  &.arrowed {
    @include chunkable-list();
  }

  &.arrowed-wide {
    @include chunkable-list($breakpoint: large);
  }
}

ol {
  &.numbered {
    @include numbered-list();
  }
}

dl {
  @include bottom-margin();
  line-height: $spacious;
  font-size: $admin-table-font-size;

  &.no-capitalize {
    dt {
      text-transform: none;
    }
  }

  dt {
    text-transform: uppercase;
    color: $armchair-smoke;
    @include bottom-margin(1rem * .25);
  }

  dd {
    @include bottom-margin(.75rem);
  }

  &.horizontal {
    @include clearfix();

    dt,
    dd {
      @include bottom-margin(1rem * .25);
    }

    dt {
      float: left;
      width: $dt-width;
      clear: both;
      padding-right: .5rem;
    }

    &.right {
      dt {
        text-align: right;
      }
    }

    dd {
      float: right;
      width: $dd-width;
      padding-left: .5rem;
    }
  }
}
