ul,
ol,
dl {
  margin: 0;
  padding: 0;
  @include bottom-margin();
}

li,
dt,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  list-style-image: none;
}

ul {
  &.bulleted {
    @include bulleted-list;
  }

  &.piped {
    @include piped-list;
  }
}

ol {
  &.numbered {
    @include numbered-list;
  }
}

dl {
  @include bottom-margin();

  dt {
    @include bold();
    @include bottom-margin($standard-spacing * .25);
  }

  dd {
    @include bottom-margin($standard-spacing * .75);
  }

  &.horizontal {
    @include clearfix();

    dt,
    dd {
      float: left;
    }

    dt {
      @include bold();
      clear: left;
      width: 40%;
      margin: 0 .5rem .75rem;
    }

    dd {
      width: 40%;
      margin: 0 0 .75rem;
    }
  }
}
