ul,
ol,
dl {
  margin: 0;
  padding: 0;
  @include bottom-margin();
}

li,
dt,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  list-style-image: none;
}

ul {
  &.bulleted {
    @include bulleted-list();
  }

  &.piped {
    @include piped-list();
  }

  &.arrowed {
    @include arrowed-list();
  }
}

ol {
  &.numbered {
    @include numbered-list();
  }
}

dl {
  @include bottom-margin();

  dt {
    @include bold();
    @include bottom-margin($spacing-m * .25);
  }

  dd {
    @include bottom-margin($spacing-m * .75);
  }

  &.horizontal {
    @include clearfix();

    dt,
    dd {
      float: left;
    }

    dt {
      @include bold();
      clear: left;
      width: 40%;
      margin: 0 $spacing-s ($spacing-s * .75);
    }

    dd {
      width: 40%;
      margin: 0 0 ($spacing-s * 1.5);
    }
  }
}
