::-webkit-input-placeholder {
  font-style: italic;
  color: $placeholder-color;
}

:-moz-placeholder {
  font-style: italic;
  color: $placeholder-color;
}

::placeholder {
  font-style: italic;
  color: $placeholder-color;
}
