table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0;
  text-align: left;
  width: 100%;
}

thead {
  @include readable();
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $standard-border;
}

th {

}

th,
td {
  padding: 0;
}
