table {
  border-collapse: collapse;
  margin: 0;
  text-align: left;
  width: 100%;
  table-layout: auto;

  &.fixed {
    table-layout: fixed;
  }
}

thead {
  @include readable();
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {

}

th {
  @include normal();
}

th,
td {
  padding: 0;

  &.right {
    text-align: right;
  }
}
