table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0;
  text-align: left;
  width: 100%;
}

thead {
  line-height: $heading-line-height;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $base-border;
}

th {

}

th,
td {
  padding: 0;
}
