h1,
h2,
h3,
h4,
h5,
h6 {
  @include headline();
  color: $bone;
  line-height: $readable;
  @include bottom-margin-only();
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  @include bottom-margin-only();
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

address {
  font-style: normal;
}

.break-long-words {
  @include break-long-words();
}
