h1,
h2,
h3,
h4,
h5,
h6 {
  @include bottom-margin-only();
  @include bold();
  color: $bone;
  line-height: $readable;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  @include bottom-margin-only();
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}
