figure.quote {
  position: relative;
  padding: 0;
  @include bottom_margin_only();

  blockquote {
    margin: 0;
    padding: 0;

    &:before {
      position: absolute;
      left: -1.6rem;
      top: -.5rem;
      color: $armchair-blue-lightest;
      content: "\201c";
      font-size: 5rem;
      line-height: $compact;
    }
  }

  figcaption {
    font-size: .8rem;
  }
}

q {
  display: inline;
  color: $armchair-blue-lightest;
}
