@mixin flip-foreground-image {
  transform: scaleX(-1);
  filter: FlipH;
}

@mixin unflip-foreground-image {
  transform: none;
  filter: none;
}

@mixin flip-background-image {
  transform: scaleX(-1);
  filter: FlipH;

  > * {
    transform: scaleX(-1);
    filter: FlipH;
  }
}
