@mixin flipForegroundImage {
  transform: scaleX(-1);
  filter: FlipH;
}

@mixin flipBackgroundImage {
  transform: scaleX(-1);
  filter: FlipH;

  > * {
    transform: scaleX(-1);
    filter: FlipH;
  }
}
