@mixin bold {
  font-weight: $global-weight-bold;
}

@mixin unbold {
  font-weight: $global-weight-normal;
}

@mixin compact {
  line-height: $compact;
}

@mixin readable {
  line-height: $readable;
}

@mixin spacious {
  line-height: $spacious;
}
