/* Font-weight */

@mixin light {
  font-weight: $global-weight-light;
}

@mixin normal {
  font-weight: $global-weight-normal;
}

@mixin bold {
  font-weight: $global-weight-bold;
}

/* Line-height */

@mixin compact {
  line-height: $compact;
}

@mixin readable {
  line-height: $readable;
}

@mixin spacious {
  line-height: $spacious;
}
