<%
  @headline = @title = "Songs"
%>

<table>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song %></td>
        <td><%= song.artist.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
