.admin-grid {
  .admin-grid-head {
    display: block;
  }

  .admin-grid-body {
    display: block;
  }

  .admin-grid-row {
    display: block;

    .admin-grid-col {
      display: block;
    }
  }

  @include breakpoint(large) {
    display: table;

    .admin-grid-head {
      display: table-header-group;
    }

    .admin-grid-body {
      display: table-row-group;
    }

    .admin-grid-row {
      display: table-row;

      .admin-grid-col {
        display: table-cell;
      }
    }
  }
}
