.admin-nav {
  @include clearfix();
  padding: .5rem;
  background-color: $black;

  nav.links {
    margin: 0;
    font-size: $admin-nav-size;

    ul {
      margin: 0;
      font-size: 1rem;
      line-height: 2rem;
      @include flexbox();
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;

      li {
        padding: 0 1rem 0 0;
      }
    }
  }
}
