@mixin regular-admin-table() {
  tbody {
    vertical-align: middle;
  }

  tr {
    @include admin-rule-line();
  }

  td {
    .identifier {
      display: none;
    }
  }

  th,
  td {
    line-height: $spacious;
    padding: .25rem .5rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.actions {
      text-align: right;
      white-space: nowrap;
      padding-left: 1rem;
    }

    &.icon {
      text-align: center;
      white-space: nowrap;
    }

    &.actions {
      white-space: nowrap;
    }
  }
}

table.admin {
  @include bottom-margin();
  font-size: $admin-table-font-size;

  th,
  .identifier {
    text-transform: uppercase;
    color: $armchair-smoke;

    a {
      @include underline-on-hover();

      &.active {
        &.asc {
          @include up-arrow($color: $armchair-smoke);
        }

        &.desc {
          @include down-arrow($color: $armchair-smoke);
        }
      }
    }
  }
}

table.admin-view {
  @include regular-admin-table();

  th {
    text-align: right;
    width: $dt-width;
  }

  td {
    width: $dd-width;
  }
}

table.admin-index {
  @media (max-width: 767px) {
    display: block;

    thead,
    th {
      display: none;
    }

    tbody {
      display: block;
    }

    tr {
      display: table;
      width: 100%;
      @include admin-rule-line();
      @include bottom-margin();
    }

    td {
      display: table-row;
      line-height: $spacious;

      .identifier,
      .playback {
        display: table-cell;
        padding-bottom: .5rem;
      }

      .identifier {
        width: 32%;
        color: $light-grey;
        padding-right: .5rem;
      }

      .playback {
        width: 67%;
      }

      &.actions {
        .identifier,
        .playback {
          padding-bottom: 1rem;
        }
      }
    }
  }

  @media (min-width: 768px) {
    @include regular-admin-table();
  }
}