ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: $spacing-s;

  dt {
    font-weight: $bold-font-weight;
    margin-top: $spacing-s;
  }

  dd {
    margin: 0;
  }
}
