<li class="page-next">
  <% if current_page.last? %>
    <%= content_tag :span, t('views.pagination.next').html_safe %>
  <% else %>
    <%= link_to t('views.pagination.next').html_safe, url, :rel => 'next', :remote => remote %>
  <% end %>
</li>