@mixin button-base {
  @include button-text();
  appearance: none;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  width: auto;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border-radius: $button-border-radius;
  padding: 10px 20px;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

@mixin primary-button() {
  background-color: $buttonBgPrimary;
  border-color: $buttonBoderPrimary;
  color: $buttonTextPrimary;

  &:focus,
  &:hover,
  &:active {
    background-color: $buttonBgPrimaryHover;
    border-color: $buttonBoderPrimaryHover;
    color: $buttonTextPrimaryHover;
  }
}

@mixin secondary-button() {
  background-color: $buttonBgSecondary;
  border-color: $buttonBoderSecondary;
  color: $buttonTextSecondary;

  &:focus,
  &:hover,
  &:active {
    background-color: $buttonBgSecondaryHover;
    border-color: $buttonBoderSecondaryHover;
    color: $buttonTextSecondaryHover;
  }
}

@mixin tertiary-button() {
  background-color: $buttonBgTertiary;
  border-color: $buttonBoderTertiary;
  color: $buttonTextTertiary;

  &:focus,
  &:hover,
  &:active {
    background-color: $buttonBgTertiaryHover;
    border-color: $buttonBoderTertiaryHover;
    color: $buttonTextTertiaryHover;
  }
}

@mixin disabled-button() {
  background-color: $buttonBgDisabled;
  border-color: $buttonBoderDisabled;
  color: $buttonTextDisabled;

  &:focus,
  &:hover,
  &:active {
    background-color: $buttonBgDisabledHover;
    border-color: $buttonBoderDisabledHover;
    color: $buttonTextDisabledHover;
  }
}
