@mixin text-and-link($color: $anchor-color) {
  color: $color;

  @include no-hover-link($color);
}

@mixin hover-link($color: $anchor-color, $hover: $anchor-color-hover) {
  color: $color;

  &:visited {
    color: $color;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $color;
  }
}

@mixin no-hover-link($color: $anchor-color) {
  @include hover-link($color, $color);
}

@mixin underline-always {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  &:active {
    cursor: pointer;
    text-decoration: underline;
  }
}

@mixin underline-on-hover {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  &:active {
    cursor: pointer;
    text-decoration: underline;
  }
}

@mixin underline-never {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &:active {
    cursor: pointer;
    text-decoration: none;
  }
}
