<%
  @headline = @title = "Admin Roles"
%>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_roles.each do |admin_role| %>
      <tr>
        <td><%= link_to "Show", admin_role %></td>
        <td><%= link_to "Edit", edit_admin_role_path(admin_role) %></td>
        <td><%= link_to "Destroy", admin_role, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Admin Role", new_admin_role_path %>
