@mixin admin-rule-line() {
  @include border-bottom($padding: 0, $color: $armchair-smoke, $all: true)
}

@mixin admin-border() {
  @include border-bottom($color: $armchair-smoke)
}

form.admin {
  max-width: 800px;
}

.admin-nav {
  @include clearfix();
  padding: $spacing-s;
  background-color: $black;

  .logo {
    display: block;
    float: left;
    width: 2rem;

    img {
      display: block;
    }
  }

  nav.links {
    float: right;
    margin: 0;
    font-size: $admin-nav-size;

    ul {
      margin: 0;
      line-height: 2rem;
    }
  }
}

a.admin {
  display: inline-block;
  @include underline-never();
  @include left-margin-only($spacing-s);
  @include standard-svg-icon();
  @include colored-svg-link();

  &.destroy {
    @include colored-svg-link($svg-link-color-danger, $svg-link-color-danger-hover);
  }

  &.public-view {
    @include colored-svg-link($svg-link-color-tertiary, $svg-link-color-tertiary-hover);
  }
}

header.admin {
  @include bottom-margin();
  @include admin-rule-line();
  @include clearfix();
  position: relative;
  padding-right: 3rem;

  h4 {
    font-size: 14px;
    line-height: $readable;
    text-transform: uppercase;
    @include right-margin-only($spacing-xs);
    color: $trolley-grey;
  }

  h1 {
    font-size: $admin-headline-size;
    line-height: $readable;
    text-transform: uppercase;
    @include right-margin-only($spacing-xs);
  }

  .actions {
    position: absolute;
    right: 0;
    bottom: 0;

    a.admin {
      display: inline-block;
      margin-bottom: $spacing-s;
    }
  }
}

table.admin {
  @include bottom-margin();
  font-size: $admin-table-font-size;

  &.admin-view {
    th {
      text-align: right;
      width: $dt-width;
    }

    td {
      width: $dd-width;
    }
  }

  tbody {
    vertical-align: middle;
  }

  tr {
    @include admin-rule-line();
  }

  th,
  td {
    line-height: $spacious;
    padding: $spacing-xs $spacing-s;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.actions {
      text-align: right;
      white-space: nowrap;
      padding-left: $spacing-m;
    }

    &.icon {
      text-align: center;
      white-space: nowrap;
    }

    &.actions {
      white-space: nowrap;
    }
  }

  th {
    text-transform: uppercase;
    color: $armchair-smoke;

    a.active {
      @include underline-never();

      &.asc {
        @include up-arrow($color: $armchair-smoke);
      }

      &.desc {
        @include down-arrow($color: $armchair-smoke);
      }
    }
  }
}

.admin-section {
  @include admin-border();

  &.tabled {
    @include no-border-bottom();
  }
}
