.admin-nav {
  @include clearfix();
  padding: .5rem;
  background-color: $black;

  .logo {
    display: block;
    float: left;
    width: 2rem;

    img {
      display: block;
    }
  }

  nav.links {
    float: right;
    margin: 0;
    font-size: $admin-nav-size;

    ul {
      margin: 0;
      line-height: 2rem;
    }
  }
}
