@mixin admin-rule-line() {
  border-bottom: 1px solid $armchair-smoke;
}

form.admin {
  max-width: 800px;
}

header.admin-nav {
  background-color: $black;
}

footer.admin-nav {
  background-color: $black;
}

.admin-nav {
  @include clearfix();
  padding: $spacing-s;

  .logo {
    display: block;
    float: left;
    width: 2rem;

    img {
      display: block;
    }
  }

  nav.links {
    float: right;
    margin: 0;

    ul {
      margin: 0;
      line-height: 2rem;
    }
  }
}

a.admin {
  display: inline-block;
  padding: 2px;
  @include underline-never();
  @include left-margin-only($spacing-s);
  @include square(1rem);

  @include inline-block-svg() {
    @include square(1rem);
    @include svg-path-fill($link-color);
  }

  &:hover {
    @include svg() {
      @include svg-path-fill($link-color-hover);
    }
  }

  &.destroy {
    @include svg() {
      @include svg-path-fill($error-color);
    }

    &:hover {
      @include svg() {
        @include svg-path-fill($error-color-hover);
      }
    }
  }
}

header.admin {
  @include bottom-margin();
  @include admin-rule-line();
  @include clearfix();
  position: relative;
  padding-right: 3rem;

  h1 {
    font-size: $admin-headline-size;
    line-height: $readable;
    display: inline-block;
    text-transform: uppercase;
    @include right-margin-only($spacing-xs);
  }

  .actions {
    position: absolute;
    right: 0;
    bottom: 0;

    a.admin {
      display: inline-block;
      margin-bottom: $spacing-s;
    }
  }
}

table.admin {
  @include bottom-margin();
  font-size: $admin-table-font-size;

  tbody {
    vertical-align: middle;
  }

  tr {
    @include admin-rule-line();
  }

  th,
  td {
    line-height: 1;
    padding: $spacing-xs;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.actions,
    &.count {
      text-align: right;
    }

    &.actions {
      white-space: nowrap;
    }
  }

  th {
    text-transform: uppercase;
    color: $armchair-smoke;
  }

  td {
    &.actions {

    }
  }
}
