.card {
  @include bottom-margin(3rem);
  background-color: $module-bg-color;
  padding: 2rem;
  border-radius: $standard-border-radius;

  header {
    @include bottom-margin(.5rem);

    h6 {
      @include bottom-margin(.5rem);
      @include bold();
      text-transform: uppercase;
      font-size: 1rem;

      @include inline-block-svg() {
        @include square(1rem);
        @include svg-path-fill($bone);
        margin-right: .2em;
        margin-bottom: -.1em;
      }
    }

    h3 {
      @include bottom-margin(.5rem);
      font-size: 1.2rem;
      line-height: $spacious;
    }
  }

  p {
    img {
      display: block;
      @include bottom-margin(.5rem);
      @include square(100px);
    }

    a.read-more {
      @include inline-block-svg() {
        @include square(1rem);
        @include svg-path-fill($link-color);
        margin: 0 0 -.2rem .3rem;
      }
    }
  }
}

@include breakpoint(large) {
  .card {
    p {
      img {
        float: right;
        margin: 0 0 .5rem 1rem;
        @include square(200px);
      }
    }
  }
}