$crud-headline-size: 1.5rem;

a.crud {
  display: inline-block;
  padding: 2px;
  @include underline-never();
  @include left-margin-only($small-spacing);

  @include inline-block-svg() {
    @include square(1rem);
    @include svg-path-fill($link-color);
  }

  &:hover {
    @include svg() {
      @include svg-path-fill($link-color-hover);
    }
  }

  &.destroy {
    @include svg-path-fill($error-color);
  }
}

header.crud {
  @include clearfix();
  border-bottom: 1px solid $armchair-smoke;

  h1 {
    font-size: $crud-headline-size;
    line-height: $readable;
    display: inline-block;
    text-transform: uppercase;
    @include right-margin-only($tiny-spacing);
  }

  a.crud {
    float: right;
    display: inline-block;
    line-height: $crud-headline-size * $readable;
  }
}

table.crud {
  @include bottom-margin();

  tbody {
    vertical-align: middle;
  }

  tr {
    border-bottom: 1px solid $armchair-smoke;
  }

  th,
  td {
    line-height: 1;
    padding: $tiny-spacing;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.actions,
    &.count {
      text-align: right;
    }

    &.actions {
      white-space: nowrap;
    }
  }

  th {
    text-transform: uppercase;
    color: $armchair-smoke;
  }

  td {
    &.actions {
      a.crud {
        @include square(1rem);
      }
    }
  }
}
