@mixin crud-rule-line() {
  border-bottom: 1px solid $armchair-smoke;
}

a.crud {
  display: inline-block;
  padding: 2px;
  @include underline-never();
  @include left-margin-only($spacing-s);
  @include square(1rem);

  @include inline-block-svg() {
    @include square(1rem);
    @include svg-path-fill($link-color);
  }

  &:hover {
    @include svg() {
      @include svg-path-fill($link-color-hover);
    }
  }

  &.destroy {
    @include svg() {
      @include svg-path-fill($error-color);
    }

    &:hover {
      @include svg() {
        @include svg-path-fill($error-color-hover);
      }
    }
  }
}

header.crud {
  @include crud-rule-line();
  position: relative;
  padding-right: 1.25rem;

  h1 {
    font-size: $crud-headline-size;
    line-height: $readable;
    display: inline-block;
    text-transform: uppercase;
    @include right-margin-only($spacing-xs);
  }

  a.crud {
    position: absolute;
    right: 0;
    bottom: $spacing-s;
    display: block;
  }
}

table.crud {
  @include bottom-margin();
  font-size: $crud-table-font-size;

  tbody {
    vertical-align: middle;
  }

  tr {
    @include crud-rule-line();
  }

  th,
  td {
    line-height: 1;
    padding: $spacing-xs;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.actions,
    &.count {
      text-align: right;
    }

    &.actions {
      white-space: nowrap;
    }
  }

  th {
    text-transform: uppercase;
    color: $armchair-smoke;
  }

  td {
    &.actions {

    }
  }
}
