body.admin {
  aside.flash-messages {
    background-color: $flash-bg-color;
    @include bottom-margin();

    .flash {
      .flash-inner {
        padding: 1rem 1.25rem 1rem 0;
      }
    }
  }
}

body.public {
  aside.flash-messages {
    margin: 0 0 3rem;
    .flash {
      .flash-inner {
        background-color: $flash-bg-color;
        padding: 1rem 2rem 1rem 1rem;
        border-radius: $standard-border-radius;
      }

      a.closeable {
        right: 1rem;
      }
    }
  }
}

aside.flash-messages {
  .flash-alert,
  .flash-error {
    @include text-and-link($error-color);
  }

  .flash-info {
    @include text-and-link($info-color);
  }

  .flash-notice,
  .flash-success {
    @include text-and-link($success-color);
  }

  .flash {
    font-size: .9rem;
    margin: 0;

    .flash-inner {
      position: relative;
    }

    a {
      @include underline-always();

      &.closeable {
        position: absolute;
        top: 1.25rem;
        right: 0;
        display: block;
        @include square(1rem);

        @include inline-block-svg() {
          @include square(1rem);
          @include svg-path-fill($white);
        }
      }
    }
  }
}
