aside.flash-messages {
  background-color: $flash-bg;

  .flash-alert,
  .flash-error {
    @include text-and-link($alert-color);
  }

  .flash-notice,
  .flash-success {
    @include text-and-link($success-color);
  }

  .flash-alert,
  .flash-error,
  .flash-notice,
  .flash-success {
    font-size: .9rem;
    margin: 0;

    .flash-inner {
      padding: 20px 60px 20px 20px;
      position: relative;
    }

    a {
      @include underline-always();

      &.closeable {
        position: absolute;
        top: 20px;
        right: 20px;
        @include underline-never();
        @include no-hover-link($white);
        @include bold();
        font-size: 2rem;
        line-height: .6;
      }
    }
  }

  @include breakpoint(x-large) {
    margin-right: $masthead-width-x-large;
  }
}
