$footer-logo-width: 100px;
$footer-logo-radius: $footer-logo-width / 2;

footer#page-footer {
  background-color: $flash-bg;
  padding: ($spacing-xl) 0;
  text-align: center;

  nav.links {
    ul,
    .copyright {
      @include bottom-margin(1.2rem);
    }

    ul {
      font-size: .8rem;
    }

    .copyright {
      font-size: .7rem;
      color: $medium-grey;
    }
  }
  
  .logo {
    display: block;
    width: $footer-logo-width;
    height: $footer-logo-width;
    margin: $spacing-m auto 0;
    padding: 20px;
    border-radius: $footer-logo-radius;
    background-color: $black;

    img {
      display: block;
    }
  }
  
  @include breakpoint(large) {
    @include fixed-widthable();
    @include clearfix();
    text-align: right;

    nav.links {
      float: right;
    }

    .logo {
      clear: right;
      float: right;
      margin: $spacing-m 0 0;
    }
  }
}
