$footer-logo-width: 100px;
$footer-logo-radius: $footer-logo-width / 2;

footer#page-footer {
  @include normal();
  background-color: $footer-bg-color;
  border-top: 1px solid #333;
  padding: 3rem 0;
  text-align: center;

  a {
    @include underline-never();
  }

  li {
    line-height: 2rem;
  }

  nav.links {
    ul,
    .copyright,
    .rss {
      @include bottom-margin(2rem);
    }

    ul {
      &.primary-links {
        @include chunkable-list($font-size: 1.2rem, $breakpoint: medium);
      }

      &.secondary-links {
        @include chunkable-list($font-size: 1rem, $breakpoint: medium);
      }

      &.tertiary-links {
        @include chunkable-list($font-size: .8rem, $breakpoint: large);
      }
    }

    .copyright {
      font-size: .8rem;
      color: $medium-grey;
    }
  }
  
  .logo {
    display: block;
    width: $footer-logo-width;
    height: $footer-logo-width;
    margin: 1rem auto 0;
    padding: 1rem;
    border-radius: $footer-logo-radius;
    background-color: $black;

    img {
      display: block;
    }
  }
}
