header.page-header {
  @include bottom-margin-only();

  h1 {
    text-transform: uppercase;
  }

  &.auth {
    a,
    span {
      display: inline-block;
      @include right-margin(.6em);
    }

    a {
      font-size: .7em;
      text-transform: uppercase;
    }
  }
}
