.constrain,
.constrain-wide {
  @include clearfix();
  padding: 0 1rem;
  max-width: 100%;
}

.constrain,
.constrain-wide {
  @include breakpoint(medium) {
    padding: 0 2rem;
  }
}

body.public {
  .constrain {
    @include breakpoint(medium) {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

.wrapper {
  padding: 1rem 0 2rem;
  min-height: 400px;
}
