.constrain-narrow,
.constrain,
.constrain-wide {
  @include clearfix();
  padding: 0 1rem;
  max-width: 100%;
}

.constrain,
.constrain-wide {
  @include breakpoint(medium) {
    padding: 0 2rem;
  }
}

.wrapper {
  padding: 1rem 0 2rem;
  background-color: $armchair-blacktop;
  min-height: 400px;

  &.crud {}

  &.public {
    @include breakpoint(large) {
      @include fixed-widthable();
    }

    .constrain {
      @include breakpoint(medium) {
        max-width: 800px;
      }
    }
  }
}
