nav#masthead {
  @include clearfix();
  background-color: $masthead-bg-color;
  padding: $spacing-s 0;

  header {
    float: left;
    @include clearfix();

    .headlines {
      float: left;

      h1 {
        font-size: 2rem;
        color: $white;
        white-space: nowrap;
        @include compact();
        @include light();

        a {
          @include hover-link($white, $white);
          @include underline-never();
        }

        span {
          @include bold();
        }
      }

      h2 {
        font-size: .75rem;
        line-height: $readable;
        margin-top: -.8rem;
        color: $tagline-color;
        line-height: $readable;

        span {
          display: block;
          white-space: nowrap;
        }
      }
    }

    .logo {
      display: block;
      float: left;
      width: 3.75rem;

      img {
        display: block;
      }
    }
  }

  .menu {
    float: right;
  }

  @include breakpoint(large) {
    @include fixed-widthable($fixed-element: true);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;

    header {
      float: none;
      @include center-horizontal();

      .headlines {
        float: right;
        text-align: right;
      }

      .logo {
        float: right;

        img {
          @include flip-foreground-image();
        }
      }
    }

    .menu {
      display: none;
    }
  }
}
