nav#masthead {
  @include clearfix();
  background-color: $black;
  padding: .5rem 0;

  header {
    float: left;
    @include clearfix();

    .headlines {
      float: left;

      h1 {
        font-size: 1.8rem;
        color: $white;
        white-space: nowrap;
        @include compact();
        @include light();

        a {
          @include hover-link($white, $white);
          @include underline-never();
        }

        span {
          @include bold();
        }
      }

      h2 {
        font-size: .7rem;
        line-height: $readable;
        margin-top: -.8rem;
        color: $tagline-color;
        line-height: $readable;

        span {
          display: block;
          white-space: nowrap;
        }
      }
    }

    .logo {
      display: block;
      float: left;
      width: 70px;

      img {
        display: block;
      }
    }

  }

  .menu {
    float: right;
  }

  @include breakpoint(medium) {
    header {
      .headlines {
        h1 {
          font-size: 2.7rem;
        }

        h2 {
          font-size: 1.2rem;
        }
      }

      .logo {
        width: 100px;
      }
    }
  }

  @include breakpoint(x-large) {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: $masthead-width-x-large;

    header {
      float: none;
      margin: 0 auto;

      .headlines {
        float: right;
        text-align: right;
      }

      .logo {
        float: right;
        width: 140px;

        img {
          @include flip-foreground-image();
        }
      }
    }

    .menu {
      display: none;
    }
  }
}
