nav#navbar {
  @include clearfix();
  background-color: $body-bg-color;

  ul {
    margin: 0 0 3rem;
    padding: .5rem 0;
    background-color: $module-bg-color;
    border-radius: $standard-border-radius;
    border: 1px solid $darkest-grey;
    @include flexbox();
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
      text-transform: uppercase;
      line-height: 2;
      font-size: .9rem;

      a {
        @include underline-never();
      }

      &.current {
        a {
          @include bold();
          color: $white;
        }
      }
    }

    @include breakpoint(small) {
      li {
        font-size: 1.1rem;
      }
    }
  }
}


