nav.pagination {
  @include bottom-margin();
  font-size: $pagination-font-size;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    @include right-margin-only(.5rem);

    span,
    a {
      padding: .25rem .5rem;
      border-radius: $standard-border-radius;
      border-width: 1px;
      border-style: solid;
    }

    a {
      display: inline-block;
      line-height: 1;
      @include underline-never();
      @include no-hover-link($color: $white);
      border-color: $link-color;
      background-color: $link-color;

      &:hover {
        background-color: $link-color-hover;
        border-color: $link-color-hover;
      }
    }

    &.page-current {
      span {
        background-color: $armchair-smoke;
        border-color: $armchair-smoke;
      }
    }

    &.page-next,
    &.page-prev {
      span {
        background-color: transparent;
        border-color: $armchair-smoke;
        opacity: 0.2;
      }
    }
  }
}