header.post-header {
  @include bottom-margin-only();
  @include clearfix();

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
  }

  h1 {
    margin: 0;

    span {
      display: block;
      font-size: 1.4rem;

      &.creators {
        font-size: 1.2rem;
      }

      &.title {
        font-size: 1.4rem;
        text-transform: uppercase;
      }

      &.subtitle {
        font-size: 1.3rem;
      }
    }
  }
}

footer.post-byline {
  @include bottom-margin();
  font-size: .9rem;

  address {
    display: inline;
  }
}

.post-type-identifier {
  @include bottom-margin(.5rem);
  @include post-type-identifier();
}

.post-body {
  @include bottom-margin();

  ul {
    @include bulleted-list($list-style-type: square);
  }

  ol {
    @include numbered-list();
  }
}

.post-hero {
  @include post-hero();
}

@include breakpoint(large) {
  .post-wrapper {
    display: grid;
    grid-template-areas: "meta . content . more";
    grid-template-columns: 3fr 2rem 6fr 2rem 3fr;
    grid-template-rows: auto;

    .post-context {
      grid-area: meta;
    }

    .post-content {
      grid-area: content;
    }

    .post-related {
      grid-area: more;
    }
  }
}

.post-context-section {
  @include bottom-margin();
}
