.tabgroup {
  @include bottom-margin-only(1rem);

  ul.tabs {
    margin: 0;

    li {
      display: inline-block;
      margin-left: .2rem;

      a,
      span {
        @include top-border-radius();
        display: inline-block;
        padding: .2rem .4rem;
        margin-bottom: -1px;
        font-size: $tab-font-size-xs;
      }

      a {
        @include no-hover-link($white);
        @include underline-never();
        border: 1px solid $link-color;
        background-color: $link-color;

        &:hover {
          background-color: $link-color-hover;
          border-color: $link-color-hover;
        }
      }

      a.tab-active,
      span {
        cursor: default;
        border: 1px solid $armchair-smoke;
        border-bottom-color: $armchair-blacktop;
        background-color: $armchair-blacktop;
        color: $white;

        &:hover {
          border-bottom-color: $armchair-blacktop;
          background-color: $armchair-blacktop;
        }
      }
    }

    li {
      margin-left: .25rem;

      a,
      span {
        padding: .2rem .35rem;
        font-size: $tab-font-size-xs;
      }
    }

    @include breakpoint(medium) {
      li {
        margin-left: .5rem;

        a,
        span {
          padding: .2rem .5rem;
          font-size: $tab-font-size-m;
        }
      }
    }

    @include breakpoint(large) {
      li {
        a,
        span {
          padding: .2rem .75rem;
          font-size: $tab-font-size-l;
        }
      }
    }
  }

  .tab {
    @include module-box();
  }

  &.same-page {
    ul.tabs {
      display: none;
    }

    .tab {
      @include bottom-margin-only(1rem);
    }

    &.initialized {
      ul.tabs {
        display: block;
      }

      .tab {
        @include bottom-margin-only(0);

        &.tab-inactive {
          display: none;
        }
      }
    }
  }
}
