<%
  @headline = @title = "Posts"
%>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <% if post.postable %>
            <%= content_tag(:div, post.postable.artist.name) %>
            <%= content_tag(:div, link_to(post.postable.title, post)) %>
          <% else %>
            <%= link_to post.title, post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
