.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  -webkit-font-smoothing: inherit;
  @include input-text();
}

.selectize-input {
  @include form-field();
  @include form-field-padding();
  cursor: text;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &:after {
    content: " ";
    display: block;
    clear: left;
  }

  &.dropdown-active {
    background-color: $input-bg-color-focus;
    @include form-field-focused();
    @include top-border-radius();

    &:before {
      content: " ";
      display: block;
      position: absolute;
      background: #f0f0f0;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.full {
    // background-color: $white;
  }

  &.disabled {
    cursor: default !important;

    * {
      cursor: default !important;
    }
  }

  > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

  > input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 1px !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;

    &::-ms-clear {
      display: none;
    }

    &:focus {
      outline: none !important;
      @include focus-no-outline();
    }
  }
}

.selectize-dropdown {
  max-width: 100%;
  position: absolute;
  z-index: 10;
  border: 1px solid $standard-border-color;
  background: $white;
  margin: -1px 0 0 0;
  border-top: 0 none;
  @include bottom-border-radius();

  &.single {
    border-color: $standard-border-color;
  }

  &.plugin-optgroup_columns {
    .optgroup {
      border-right: 1px solid #f2f2f2;
      border-top: 0 none;
      float: left;

      &:last-child {
        border-right: 0 none;
      }

      &:before {
        display: none;
      }
    }

    .optgroup-header {
      border-top: 0 none;
    }
  }

  [data-selectable],
  .optgroup-header {
    padding: 5px 8px;
  }

  [data-selectable] {
    cursor: pointer;
    overflow: hidden;

    .highlight {
      background: rgba(125, 168, 208, 0.2);
      border-radius: 1px;
    }
  }

  .optgroup-header {
    padding-top: 7px;
    font-weight: bold;
    font-size: 0.85rem;
    color: #303030;
    background: $white;
    cursor: default;
  }

  .optgroup {
    border-top: 1px dotted #ccc;

    &:first-child {
      border-top: 0 none;

      .optgroup-header {
        border-top: 0 none;
      }
    }
  }

  .create {
    color: rgba(48, 48, 48, 0.5);
  }

  .active {
    background-color: $light-grey;
    color: $gun-metal;

    &.create {
      color: $gun-metal;
    }
  }
}

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  @include top-border-radius();
}

.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 1rem !important;

  &:hover {
    color: $black;
  }
}

.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  -webkit-overflow-scrolling: touch;
  border-top: 1px dotted #ccc;
}

.selectize-control {
  position: relative;
  margin-bottom: -.42rem;

  .selectize-input.disabled {
    opacity: 0.5;
    background-color: #fafafa;
  }

  &.single {
    .selectize-input {
      cursor: pointer;

      input {
        cursor: pointer;
      }

      &.input-active {
        background: $white;
        cursor: text;
        display: inline-block;

        input {
          cursor: text;
        }
      }

      &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
      }

      &.dropdown-active:after {
        margin-top: -4px;
      }
    }
  }

  &.multi {
    .selectize-input {
      [data-value] {
        cursor: pointer;
        margin: 0 3px 3px 0;
        padding: 0 4px;
        border: 1px solid $armchair-blue-dark;
        border-radius: $standard-border-radius;
        background-color: $white;
        font-size: .8em;

        &.active {
          background-color: $light-grey;
        }
      }

      &.disabled {
        [data-value],
        [data-value].active {
          color: $white;
          background: #d2d2d2;
          border: 1px solid #aaaaaa;
        }

        [data-value] {
          color: #999;
          background: none;
          border-color: #e6e6e6;

          .remove {
            background: none;
          }
        }
      }

      &.has-items {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  &.plugin-remove_button {
    [data-value] {
      position: relative;
      padding-right: 1.2em !important;

      a.remove,
      a.remove-single {
        z-index: 1;
        position: absolute;
        vertical-align: middle;
        display: inline-block;
        font-size: 2em;
        line-height: 1rem;
        @include normal();
        @include underline-never();
      }

      .remove {
        top: 3px;
        right: 3px;
      }

      .remove-single {
        right: 5px;
        top: 5px;
      }
    }

    .disabled [data-value] {
      .remove {
        &:hover {
          background: none;
        }
      }
    }
  }
}
