.pagination {
  margin-top: $base-spacing;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  text-align: center;

  .first,
  .prev,
  .page,
  .next,
  .last {
    margin: $spacing-s;
  }

  .current {
    font-weight: $bold-font-weight;
  }
}
