@mixin fake-checkbox() {
  @include square(1rem);
  @include compact();
  display: inline-block;
  font-size: 1rem;
  color: $white;
  text-align: center;
}

[type=checkbox],
[type=radio] {
  display: inline;
  margin-right: $spacing-xs;
  @include focus-no-outline();
}

.form-field.boolean,
.form-field.radio-buttons {
  [type=checkbox],
  [type=radio] {
    opacity: 0;
    position: absolute;
  }

  label {
    display: inline-block;
  }

  span.custom-boolean-indicator {
    @include fake-checkbox();
    border: 1px solid $white;
    position: absolute;
    top: .2rem;
  }

  [type=checkbox]:focus + span.custom-boolean-indicator,
  [type=radio]:focus + span.custom-boolean-indicator {
    @include focus-outline();
  }

  &.with-error {
    span.custom-boolean-indicator {
      @include form-field-with-error();
    }
  }

  span.label-text {
    display: inline-block;
    margin-left: 1.4rem;
    @include compact();
    font-size: .8rem;
  }
}

.form-field.boolean {
  position: relative;

  [type=checkbox]:checked + span.custom-boolean-indicator {
    &:before {
      @include fake-checkbox();
      content: "\2713";
    }
  }

  &.with-error {
    [type=checkbox]:checked + span.custom-boolean-indicator {
      &:before {
        color: $error-color;
      }
    }
  }
}

.form-field.radio-buttons {
  .collection-item {
    position: relative;

    span.label-text {
      @include light();
      font-size: .8rem;
    }
  }

  span.custom-boolean-indicator {
    border-radius: .5rem;
  }

  [type=radio]:checked + span.custom-boolean-indicator {
    background-color: $white;
  }

  &.with-error {
    [type=radio]:checked + span.custom-boolean-indicator {
      background-color: $error-color;
    }
  }
}
