.form-field.boolean {
  position: relative;

  [type=checkbox] {
    visibility: hidden;
    position: absolute;
  }

  span.custom-checkbox {
    @include square(1rem);
    @include compact();
    display: block;
    border: 1px solid $white;
    position: absolute;
    top: .2rem;
    display: inline-block;
  }

  &.with-errors {
    span.custom-checkbox {
      @include form-field-with-error();
    }

    [type=checkbox]:checked + span.custom-checkbox {
      &:before {
        color: $error-color;
      }
    }
  }

  [type=checkbox]:checked + span.custom-checkbox {
    &:before {
      @include square(1rem);
      @include compact();
      display: block;
      content: "\2713";
      font-size: 1rem;
      color: $white;
      text-align: center;
    }
  }

  span.label-text {
    display: inline-block;
    margin-left: 1.4rem;
    @include compact();
  }
}
