.error-notification {
  color: $error-color;
  @include bottom-margin-only($spacing-l);
}

.form-inputs {
  @include bottom-margin-only($spacing-xl);
}

fieldset {
  border: 0;
  padding: 0;
  background-color: transparent;
  @include bottom-margin-only($spacing-l);

  &.boxed {
    @include module-box();
  }

  &.chunk {
    > legend {
      @include bottom-margin-only($spacing-m * .75);
      @include chunk-legend-text();
    }
  }

  &.legendary {
    > legend {
      @include bottom-margin-only($spacing-m * .75);
      @include legendary-legend-text();
    }

    > .hint {
      margin: -($spacing-m * .75) 0 ($spacing-m * .75);
      @include hint-text();
    }
  }

  &.compact {
    .form-field {
      @include bottom-margin-only($spacing-s);
    }
  }

  &.name {
    @include clearfix();

    .form-field {
      float: left;
      margin-bottom: 0;

      &.user_first_name,
      &.user_last_name {
        width: 33%;
      }

      &.user_middle_name {
        @include horizontal-padding(1rem);
        width: 34%;
      }
    }
  }

  &.accepts-nested {
    @include border-bottom($padding: $spacing-s, $color: $armchair-blue-lightest, $style: solid);
    @include bottom-margin-only($spacing-s);

    .stacked {
      @include clearfix();
      @include bottom-margin-only($spacing-s);


      .form-field {
        float: left;
        width: 55%;
        margin-bottom: 0;

        &:last-child {
          width: 45%;
          padding-left: 1rem;
        }
      }
    }
  }
}

.form-field {
  @include bottom-margin-only($spacing-l);

  &.with-error {
    label,
    legend {
      color: $error-color;
    }
  }
}

label,
legend {
  padding: 0;
  @include bottom-margin-only(.05rem);
  @include label-text();
  @include pseudo-block();
}

label {
  cursor: pointer;
}

.hint {
  @include bottom-margin-only($spacing-xs);
  @include hint-text();
}

.error {
  color: $error-color;
  @include form-field-error-text();
  @include bottom-margin-only($spacing-xs);
}
