#{$all-text-inputs},
textarea {
  @include no-appearance();
  @include form-field();
  @include form-field-states();
  @include form-field-spacing();

  .form-field.with-error & {
    @include form-field-with-error();
  }
}

textarea {
  resize: vertical;

  &.small {
    height: 4rem;
  }

  &,
  &.medium {
    height: 8rem;
  }

  &.large {
    height: 12rem;
  }

  &.x-large {
    height: 16rem;
  }
}
