@mixin border-top($padding: $spacing-m, $color: $standard-border-color, $style: solid, $all: false) {
  border-top: 1px $style $color;
  padding-top: $padding;

  @if $all == false {
    &:last-child {
      border-top: none;
      padding-top: none;
    }
  }
}

@mixin border-bottom($padding: $spacing-m, $color: $standard-border-color, $style: solid, $all: false) {
  border-bottom: 1px $style $color;
  padding-bottom: $padding;

  @if $all == false {
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

@mixin no-border-bottom() {
  padding-bottom: 0;
  border-bottom: 0 none;
}

@mixin top-border-radius($radius: $standard-border-radius) {
  border-radius: $radius $radius 0 0;
}

@mixin bottom-border-radius($radius: $standard-border-radius) {
  border-radius: 0 0 $radius $radius;
}

@mixin right-border-radius($radius: $standard-border-radius) {
  border-radius: 0 $radius $radius 0;
}

@mixin left-border-radius($radius: $standard-border-radius) {
  border-radius: $radius 0 0 $radius;
}
