@mixin button-text {
  font-size: $button-font-size;
  font-family: $raleway-font-stack;
  @include bold();
}

@mixin button-base {
  @include button-text();
  @include no-appearance();
  -webkit-font-smoothing: antialiased;
  transition: background-color $standard-transition-duration $standard-transition-function;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  width: auto;
  line-height: $compact;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  border-radius: $button-border-radius;
  padding: .6rem 1.8rem;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

@mixin primary-button() {
  background-color: $button-bg-primary;
  border-color: $button-border-primary;
  color: $button-text-primary;

  &:focus,
  &:hover,
  &:active {
    background-color: $button-bg-primary-hover;
    border-color: $button-border-primary-hover;
    color: $button-text-primary-hover;
  }
}

@mixin secondary-button() {
  background-color: $button-bg-secondary;
  border-color: $button-border-secondary;
  color: $button-text-secondary;

  &:focus,
  &:hover,
  &:active {
    background-color: $button-bg-secondary-hover;
    border-color: $button-border-secondary-hover;
    color: $button-text-secondary-hover;
  }
}

@mixin tertiary-button() {
  background-color: $button-bg-tertiary;
  border-color: $button-border-tertiary;
  color: $button-text-tertiary;

  &:focus,
  &:hover,
  &:active {
    background-color: $button-bg-tertiary-hover;
    border-color: $button-border-tertiary-hover;
    color: $button-text-tertiary-hover;
  }
}

@mixin disabled-button() {
  background-color: $button-bg-disabled;
  border-color: $button-border-disabled;
  color: $button-text-disabled;
  cursor: not-allowed;
  opacity: 0.5;

  &:focus,
  &:hover,
  &:active {
    background-color: $button-bg-disabled;
    border-color: $button-border-disabled;
    color: $button-text-disabled;
  }
}
