@mixin legend-text {
  font-size: $legend-font-size;
  text-transform: uppercase;
  letter-spacing: 0.10em;
}

@mixin label-text {
  font-size: $label-font-size;
  color: $label-color;
}

@mixin hint-text {
  font-size: $hint-font-size;
}

@mixin input-text {
  font-size: $input-font-size;
  @include luxurious();
  @include normal();
}

@mixin form-field() {
  @include input-text();
  @include standard-transition(border-color);
  @include standard-transition(background-color);
  background-color: $input-bg-color;
  border: $standard-border;
  border-radius: $standard-border-radius;
  box-sizing: border-box;
  width: 100%;
}

@mixin form-field-error-text() {
  font-size: $form-field-error-font-size;
}

@mixin form-field-states() {
  &:focus {
    @include form-field-focused();
  }

  &:disabled {
    background-color: shade($input-bg-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $standard-border;
    }
  }
}

@mixin form-field-spacing() {
  display: block;
  @include bottom-margin-only(.25rem);
  @include form-field-padding();
}

@mixin form-field-padding() {
  padding: 4px .5rem;
}

@mixin form-field-with-error() {
  border-color: $error-color;
}

@mixin form-field-focused() {
  background-color: $input-bg-color-focus;
  @include focus-outline();
}

@mixin focus-outline($blur: 6px, $spread: 3px) {
  @include box-shadow(0 0 $blur $spread $focus-outline-color);
}

@mixin focus-no-outline() {
  &:focus {
    outline: none;
    @include box-shadow(0 0 0 0 transparent);
  }
}
