@mixin text-and-link($color: $link-color) {
  color: $color;

  @include no-hover-link($color);
}

@mixin hover-link($color: $link-color, $hover: $link-color-hover) {
  color: $color;

  &:visited {
    color: $color;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $color;
  }
}

@mixin no-hover-link($color: $link-color) {
  @include hover-link($color, $color);
}

@mixin underline-always {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
}

@mixin underline-on-hover {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
}

@mixin underline-never {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

@mixin colored-svg-link($color: $svg-link-color, $hover: $svg-link-color-hover) {
  @include svg() {
    @include svg-path-fill($color);
  }

  &:hover {
    @include svg() {
      @include svg-path-fill($hover);
    }
  }
}
