@mixin bulleted-list($list-style-type: disc) {
  padding: 0 0 0 1em;
  margin: 0 0 0 1em;
  @include bottom-margin();

  li {
    list-style-type: $list-style-type;
    padding-left: .5em;
    margin: 0 0 .5em;
    @include bottom-margin(.5rem);
  }
}

@mixin numbered-list($type: decimal) {
  list-style-type: $type;
  list-style-position: outside;
  padding-left: 1.25em;

  > li {
    list-style-type: $type;
    list-style-position: outside;
    @include bottom-margin(.5rem);
  }
}

@mixin piped-list {
  margin: 0 0 .5em;

  li {
    display: inline-block;
    margin-top: -.25em;
    margin-bottom: .5em;

    &:after {
      content: "\00A0\007c";
      font-size: 1.1em;
      display: inline-block;
      margin: 0 .5em;
    }

    &:last-child:after {
      content: "";
      margin: 0;
    }
  }
}

@mixin chunkable-list($separator: "\2194", $font-size: 1rem, $font-size-big: 1rem, $spread: .5em, $breakpoint: medium) {
  margin: 0 0 .5em;
  font-size: 0;

  span {
    display: block;
  }

  li {
    font-size: $font-size;
    display: inline-block;
    margin-top: -.25em;
    margin-bottom: .5em;
  }

  li+li:before {
    content: $separator;
    display: inline-block;
    margin: 0 $spread;
    font-size: $font-size;
  }

  @include breakpoint($breakpoint) {
    li {
      font-size: $font-size-big;
    }

    li+li:before {
      font-size: $font-size-big;
    }

    span {
      display: inline-block;
    }

    span+span:before {
      font-size: $font-size-big;
      content: $separator;
      display: inline-block;
      margin: 0 $spread;
    }
  }
}
