@mixin top-margin($margin: $spacing-m) {
  margin-top: $margin;

  &:first-child {
    margin-top: 0;
  }
}

@mixin top-margin-only($margin: $spacing-m) {
  margin: 0;

  @include top-margin($margin);
}

@mixin right-margin($margin: $spacing-m) {
  margin-right: $margin;

  &:last-child {
    margin-right: 0;
  }
}

@mixin right-margin-only($margin: $spacing-m) {
  margin: 0;

  @include right-margin($margin);
}

@mixin bottom-margin($margin: $spacing-m) {
  margin-bottom: $margin;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin bottom-margin-only($margin: $spacing-m) {
  margin: 0;

  @include bottom-margin($margin);
}

@mixin left-margin($margin: $spacing-m) {
  margin-left: $margin;

  &:first-child {
    margin-left: 0;
  }
}

@mixin left-margin-only($margin: $spacing-m) {
  margin: 0;

  @include left-margin($margin);
}

@mixin horizontal-padding($size) {
  padding-left: $size;
  padding-right: $size;
}

@mixin horizontal-padding-only($size) {
  padding: 0;

  @include horizontal-padding($size);
}

@mixin vertical-padding($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin vertical-padding-only($size) {
  padding: 0;

  @include vertical-padding($size);
}

