@mixin legend-text {
  font-size: $legend-font-size;
  text-transform: uppercase;
}

@mixin label-text {
  font-size: $label-font-size;
}

@mixin hint-text {
  font-size: $hint-font-size;
  @include light();
}

@mixin input-text {
  font-size: $input-font-size;
  font-family: $raleway-font-stack;
  @include light();
}

@mixin form-field-error-text() {
  font-size: $form-field-error-font-size;
}

@mixin button-text {
  font-size: $button-font-size;
  font-family: $raleway-font-stack;
  @include bold();
}