@mixin button-text {
  font-size: $button-font-size;
  font-family: $raleway-font-stack;
  @include bold();
}

@mixin input-text {
  font-size: $input-font-size;
  font-family: $raleway-font-stack;
  @include light();
}

@mixin input-error-text() {
  font-size: $input-error-font-size;
}

@mixin hint-text {
  font-size: $hint-font-size;
  @include light();
}
