/* Font-size */

$button-font-size: 20px;

/* Font-weight */

$font-weight-light: 200;
$font-weight-normal: 500;
$font-weight-bold: 700;

/* Line-height */

$compact: 1;
$readable: 1.231;
$spacious: 1.5;

/* Measurements */

$masthead-width-large: 450px;
$masthead-width-xlarge: 600px;

/* Buttons */

$button-border-radius: 6px;
