/* Font-size */

$button-font-size: 20px;

/* Font-weight */

$font-weight-light: 200;
$font-weight-normal: 500;
$font-weight-bold: 700;

/* Line-height */

$compact: 1;
$readable: 1.231;
$spacious: 1.5;

/* Measurements */

$masthead-width-large: 450px;
$masthead-width-x-large: 600px;

/* Buttons */

$button-border-radius: 6px;

/* Breakpoints */

$breakpoint-x-small: 375px;
$breakpoint-small: 480px;
$breakpoint-medium: 600px;
$breakpoint-large: 768px;
$breakpoint-x-large: 1024px;
